/* SECTION PRÉSENTATION DU PRODUIT____________________________________________+ */
.descriptionProduit{
    display: flex;
    background-color: #3772FF;
    padding: 40px;
    margin: 60px;
}
.descriptionProduit img{
    width: 50%;
}
.descriptionProduit p {
    color: #080708;
    font-size: 17px;
}
.produitText{
    margin: 15px;
}
.produitText h3 {
    margin: 0px;
    font-size: 30px;

}




/* SECTION NOTRE ÉQUIPE_____________________________________________________ */
.photo{
    width: 25%;
}

.equipe{
    display: flex;
    margin-top: 15px;
}
.equipeInfo{
    display: flex;
    flex-direction:column;
    margin: 0px 15px;
}

.equipeInfo h3{
    margin:0px;
    font-size: 30px;
}

 h2 {
    color: #080708;
    text-decoration: underline;
}

.equipeInfo p {
    color: #080708;
    font-size: 20px;
}