.sectionForm{
    font-size:30px;
    display:flex;
    flex-direction:column;
    margin-top:20px;
    color: #080708;
}
input{
    color: black;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
}