.header a{
    text-decoration:none;
    padding:20px;
    font-family: 'Roboto', sans-serif;
}
.header{
    display:block;
    float:right;
}
.logo {
    background-image: url(img/check-list.svg);
  }