.header a{
    text-decoration:none;
    padding:20px;
    font-family: 'Roboto', sans-serif;
}
.header{
    display:flex;
    justify-content: space-between;
    padding-bottom:5%;
}
.logo {
    width:100px; 
    height:100px;
  }
  .logotitle{
     display:flex;
     flex-wrap:wrap; 
  }
  .maintitle{
    font-family: 'Righteous', cursive!important;
  }